src/main/resources/wsdl/UBAddressServiceUDE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="../pub/wsdl/wsdl-viewer.xsl"?>
<definitions name="UBAddressServiceUDEDefinition" targetNamespace="http://www.his.de/ws/UBAddressServiceUDE" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wns="http://www.his.de/ws/UBAddressServiceUDE" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="http://www.his.de/ws/UBAddressServiceUDE" xmlns="http://www.w3.org/2001/XMLSchema">
            <complexType abstract="false" name="Address">
                <sequence>
                    <element name="firstname" nillable="true" type="string"/>
                    <element name="surname" nillable="true" type="string"/>
                    <element name="genderId" nillable="true" type="long">
                        <annotation>
                            <documentation>Id des Geschlechts: 0 = Unbekannt, 1 = Männlich, 2 = Weiblich, 3 = divers.</documentation>
                        </annotation>
                    </element>
                    <element name="street" nillable="true" type="string"/>
                    <element name="addressaddition" nillable="true" type="string"/>
                    <element name="postcode" nillable="true" type="string"/>
                    <element name="city" nillable="true" type="string"/>
                    <element name="country" nillable="true" type="string"/>
                </sequence>
            </complexType>
            <element name="readAddressByRegistrationnumber">
                <complexType>
                    <sequence>
                        <element name="registrationnumber" type="long"/>
                    </sequence>
                </complexType>
            </element>
            <element name="readAddressByRegistrationnumberResponse">
                <complexType>
                    <sequence>
                        <element name="address" nillable="true" type="wns:Address"/>
                    </sequence>
                </complexType>
            </element>
            <element name="readAddressByAccount">
                <complexType>
                    <sequence>
                        <element name="account" type="string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="readAddressByAccountResponse">
                <complexType>
                    <sequence>
                        <element name="address" nillable="true" type="wns:Address"/>
                    </sequence>
                </complexType>
            </element>
            <element name="ServiceFault">
                <complexType>
                    <sequence>
                        <element maxOccurs="1" minOccurs="0" name="rootCause" type="string"/>
                        <element name="message" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="validationMessage" type="wns:ValidationMessage"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="ValidationMessage">
                <sequence>
                    <element name="messageType" type="string"/>
                    <element name="messageKey" type="string"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="messageParameter" type="string"/>
                </sequence>
            </complexType>
        </schema>
  </types>
  <message name="readAddressByAccountResponse">
    <part name="parameters" element="wns:readAddressByAccountResponse">
    </part>
  </message>
  <message name="readAddressByAccount">
    <part name="parameters" element="wns:readAddressByAccount">
    </part>
  </message>
  <message name="readAddressByRegistrationnumber">
    <part name="parameters" element="wns:readAddressByRegistrationnumber">
    </part>
  </message>
  <message name="ServiceFault">
    <part name="serviceFault" element="wns:ServiceFault">
    </part>
  </message>
  <message name="readAddressByRegistrationnumberResponse">
    <part name="parameters" element="wns:readAddressByRegistrationnumberResponse">
    </part>
  </message>
  <portType name="UBAddressServiceUDEPortType">
    <operation name="readAddressByRegistrationnumber">
<documentation>Liefert die Adresse (Notification-STU/Studium - Korrespondenz)</documentation>
      <input message="wns:readAddressByRegistrationnumber">
    </input>
      <output message="wns:readAddressByRegistrationnumberResponse">
    </output>
      <fault name="serviceFault" message="wns:ServiceFault">
    </fault>
    </operation>
    <operation name="readAddressByAccount">
<documentation>Liefert die Adresse (Notification-STU/Studium - Korrespondenz)</documentation>
      <input message="wns:readAddressByAccount">
    </input>
      <output message="wns:readAddressByAccountResponse">
    </output>
      <fault name="serviceFault" message="wns:ServiceFault">
    </fault>
    </operation>
  </portType>
  <binding name="UBAddressServiceUDEBinding" type="wns:UBAddressServiceUDEPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="readAddressByRegistrationnumber">
      <soap:operation soapAction="http://www.his.de/ws/UBAddressServiceUDE/readAddressByRegistrationnumber"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="serviceFault">
        <soap:fault name="serviceFault" use="literal"/>
      </fault>
    </operation>
    <operation name="readAddressByAccount">
      <soap:operation soapAction="http://www.his.de/ws/UBAddressServiceUDE/readAddressByAccount"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="serviceFault">
        <soap:fault name="serviceFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="UBAddressServiceUDE">
<documentation>Liefert für eine Matrikelnummer oder Unikennung Name/Adresse(Notification-STU/Studium - Korrespondenz)</documentation>
    <port name="UBAddressServiceUDEPort" binding="wns:UBAddressServiceUDEBinding">
      <soap:address location="http://localhost/qisserver/services2/UBAddressServiceUDE"/>
    </port>
    <wsp:PolicyReference URI="#UsernameToken"/>
  </service>
    <wsp:Policy wsu:Id="UsernameToken" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:SupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                            <wsp:Policy/>
                        </sp:UsernameToken>
                    </wsp:Policy>
                </sp:SupportingTokens>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
